.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #333;
  color: #fff;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  height: 60px;
}

header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidenav {
  width: 200px;
  background: #f4f4f4;
  position: fixed;
  top: 60px; /* Adjust top to be below the header */
  height: calc(100vh - 120px); /* Adjust height to be within header and footer */
  transition: left 0.3s;
  overflow-y: auto;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

.sidenav li {
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
  margin-left: 200px; /* Ensure content is positioned next to the sidenav */
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0rem 1rem;
  height: 60px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidenav {
    width: 200px;
    height: calc(100vh - 120px); /* Adjust height to be within header */
    left: -200px;
    position: absolute;
  }

  .sidenav.open {
    left: 0;
  }

  .content {
    margin-left: 0;
    padding: 1rem;
  }
}